
    <button ion-button 
            [class.button-full]="full != undefined" 
            [class.button-round]="round != undefined" 
            [class.button-small]="small != undefined" 
            [class.button-large]="large != undefined" 
            [class.button-clear]="clear != undefined" 
            [class.button-outline]="outline != undefined" 
            [attr.icon-only] = "iconOnly"
            [class.button-block]="block != undefined" 
            [color]="color"
            (click)="callback($event)">
      <ion-icon *ngIf="iconName != undefined && iconLeft != undefined && !uploading" name="{{iconName}}"></ion-icon>
      <ion-spinner *ngIf="iconLeft != undefined && uploading" name="bubbles"></ion-spinner>
      <div *ngIf="!uploading && iconOnly == undefined">{{placeHolder}}</div>
      <ion-icon *ngIf="iconName != undefined && iconRight != undefined && !uploading" name="{{iconName}}"></ion-icon>
      <ion-spinner *ngIf="iconRight != undefined && uploading" name="bubbles"></ion-spinner>
      <input type="file" (change)="filesAdded($event)" style="display: none" multiple #inputfileuploadbutton />
    </button>