upload-button {
    .filename{
        float: left;
        margin-left: 10px;
        line-height: 3em;
        overflow: hidden;
    }
    button{
        float: left;
        min-width: 105px;
    }
    
}   
