page-edit-role {
}
.action-sheet-container{
    padding: 0px !important;
}
div.action-sheet-title{
    font-weight: bold !important;
    background-color: #000 !important;
    color: white !important;
}
.action-sheet-group{
    margin-bottom: 10px !important;
}