page-splash {
    ion-content{
        background-color: lightgray !important;
    }
    .splash{
        position: absolute;
        margin: 0 auto;
        text-align: center;
        top: 40%;
        width: 100%;

    }

}
