page-settings {
    ion-list-header{
        background-color: #000 !important;
        color: white !important;
        font-weight: bold !important;
        margin-bottom: 0px !important;
        margin-top: 10px !important;
    }
}
