<ion-header>
  <ion-navbar>
    <ion-row>
      <ion-col margin-vertical>
        <button ion-button menuToggle left>
          <ion-icon name="menu"></ion-icon>
        </button>
      </ion-col>
      <ion-col margin-horizontal text-center>
        <h2>Company Settings</h2>
      </ion-col>
      <ion-col  text-right>
        <button ion-button outline item-right icon-left (click)="save()">
          <ion-icon name="checkmark"></ion-icon>
          Save
        </button>
      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <form [formGroup]="settingsForm">
      <ion-list>
        <ion-list-header>
          Company Details
        </ion-list-header>
        <ion-item>
          <ion-label color="primary" floating>Company Name</ion-label>
          <ion-input type="text" [class.invalid]="!settingsForm.controls.companyName.valid && settingsForm.controls.companyName.dirty" formControlName="companyName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>Registered Address</ion-label>
          <ion-textarea rows="4"  formControlName="address"></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>Company Identification</ion-label>
          <ion-input type="text"  [class.invalid]="!settingsForm.controls.identificationNo.valid && settingsForm.controls.identificationNo.dirty" formControlName="identificationNo"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Currency</ion-label>
          <ion-select formControlName="currency" interface="popover" placeholder="Currency" mode="ios" >
            <ion-option *ngFor="let c of currencies" >{{c}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>Tax %</ion-label>
          <ion-input type="text" placeholder="Tax" [class.invalid]="!settingsForm.controls.tax.valid && settingsForm.controls.tax.dirty" formControlName="tax"></ion-input>
        </ion-item>
        <ion-item class="error-message" *ngIf="!settingsForm.controls.tax.valid  && settingsForm.controls.tax.dirty">
          <p>Please number for % for tax between 0 & 100.</p>
        </ion-item>
        <ion-item>
          <ion-label>Price Inclusive of Tax</ion-label>
          <ion-toggle formControlName="priceTaxInclusive"></ion-toggle>
        </ion-item>
        <ion-list-header>
          Company Contact Details
        </ion-list-header>
        <ion-item>
          <ion-label color="primary" floating>Name</ion-label>
          <ion-input type="text" [class.invalid]="!settingsForm.controls.contactName.valid && settingsForm.controls.contactName.dirty" formControlName="contactName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>Email Address</ion-label>
          <ion-input type="text"  [class.invalid]="!settingsForm.controls.contactEmail.valid && settingsForm.controls.contactEmail.dirty" formControlName="contactEmail"></ion-input>
        </ion-item>
        <ion-item class="error-message" *ngIf="!settingsForm.controls.contactEmail.valid  && settingsForm.controls.contactEmail.dirty">
          <p>Please enter a valid contact email.</p>
        </ion-item>
        <ion-list-header>
          Company Theme Settings
        </ion-list-header>        
        <ion-item>
          <ion-label color="primary" floating>Stylesheet</ion-label>
          <ion-textarea rows="4" formControlName="stylesheet"></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>Template</ion-label>
          <ion-textarea rows="4"  formControlName="template"></ion-textarea>
        </ion-item>
      </ion-list>
  </form>

</ion-content>
