// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
// $PAYOHIMA_COLOR : #4b2a5d;
// $SIDEMENU_TOP: #4b2a5d;
// $SIDEMENU_BOTTOM: #4b2a5d;
// $SIDEMENU_TRANSPARENCY: rgba(255,255,255,0);

// ion-toolbar, ion-navbar{
//     // height: 80px !important;
//     h1,h2,h3{
//         color: white;
//     }
// }
// ion-menu{
//     .item-inner{
//         border-bottom: none !important;
//     }
//     ion-header{
//         ion-item{
//             // background-color: $PAYOHIMA_COLOR !important;
//             ion-label{
//                 color: white !important;
//                 p{
//                     color: #bfbfbf !important;
//                 }
//             }
//         }
//     }
// }
// ion-label{
//     color: $PAYOHIMA_COLOR;
// }
// .toolbar-background {
//     background: -webkit-gradient(left top, $SIDEMENU_TOP, $SIDEMENU_BOTTOM) !important;
//     background: -o-linear-gradient(bottom right, $SIDEMENU_TOP, $SIDEMENU_BOTTOM) !important;
//     background: -moz-linear-gradient(bottom right, $SIDEMENU_TOP, $SIDEMENU_BOTTOM) !important;
//     background: linear-gradient(to bottom right, $SIDEMENU_TOP, $SIDEMENU_BOTTOM) !important;
//     border-color: white; 
// }
// .toolbar-title, .bar-button{
//     color: white;
//     text-align: center;
// }
// ion-toast{
//     div.toast-wrapper.toast-bottom{
//         background-color: $PAYOHIMA_COLOR;
//     }
// }
// ion-toast.login-successful{
//     .toast-wrapper{
//         background-color: lightseagreen;
//     }    
// }
// ion-toast.logout-successful{
//     .toast-wrapper{
//         background-color: mediumvioletred;
//     }    
// }
// ion-input{
//     padding: 0px;
// }
ion-app{
    font-family: sans-serif !important;
}
.toast-success .toast-wrapper{
    background-color: green !important;
    color: white !important;
}
.toast-error .toast-wrapper{
    background-color: orangered !important;
    color: white !important;
}
.error-message p{
    color: red !important;
}
ion-select{
    max-width: 100% !important;
    padding: 0;
}

$table-header-background-color : #555;
$table-header-color: #fff;
$table-header-font-family: "Calibre", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$table-header-font-size: 1.1em;
$table-header-font-weight: bold;
$table-body-background-color : #efefef;
$table-body-color: #333;
$table-body-font-family: "Calibre", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$table-body-font-size: 1.1em;
$table-body-font-weight: bold;
ion-grid.table-with-header{
    >ion-row{
        min-height: 55px;
    }
    > ion-row:first-child, ion-row.header{
        background-color: $table-header-background-color;
        font-family: $table-header-font-family;
        font-size: $table-header-font-size;
        color: $table-header-color;
        font-weight: $table-header-font-weight;
        > ion-col:not(:first-child){ //border
            border-left: 1px solid #dedede;
        }
        > ion-col{
            align-self: center;
        }
    }
    > ion-row:not(:first-child){
        background-color: $table-body-background-color;
        font-family: $table-body-font-family;
        font-size: $table-body-font-size;
        color: $table-body-color;
        font-weight: $table-body-font-weight;
        :hover{
            background-color: #dedede;
        }
        > ion-col{
            align-self: top;
        }
        > ion-col:not(:first-child){
            border-left: 1px solid #ccc;
        }
    }
    > ion-row:not(:last-child){
        border-bottom: 1px solid #ccc;
    }
}
ion-grid.table-without-header{
    > ion-row{
        background-color: $table-body-background-color;
        font-family: $table-body-font-family;
        font-size: $table-body-font-size;
        color: $table-body-color;
        font-weight: $table-body-font-weight;
        :hover{
            background-color: #dedede;
        }
        > ion-col{
            align-self: top;
        }
        > ion-col:not(:first-child){
            border-left: 1px solid #ccc;
        }
    }
}

